<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="content about">
      <h1>About me.</h1>
      <h4>Welcome to my blog portfolio project.</h4>
      <p>
        This project is to showcase a full-stack website using Node.js,
        Express.js, EJS and mongoDB. This project has also been fully deployed
        to a cloud hosting platform with real-time GitHub integration which
        automatically redploys any pushed changes to the repository.
      </p>
      <h4>A bit on what I do.</h4>
      <p>
        I'm a self taught full-stack developer and my aim is to produce apps in
        different technology stacks. I am currently upskilling in the VENM stack
        (Vue, Express, Node, mongoDB) and will hopefully be able to upskill in
        the MERN stack (mongoDB, Express, Node, React) shortly in the future.
      </p>
      <br />
      <p>
        Whilst progressing from front-end to full-stack, I have found Node.js
        (with Express.js) is my preferred choice of technology, however I am
        also moving into PHP with Laravel to which I am currently working on a
        clone of this website blog using the aforementioned technology.
      </p>
      <h4>Contacting myself.</h4>
      <p>
        If you're here after viewing a job application I have made, then my
        details can be found in my application. However if you're here from
        browsing or word-of-mouth, and would like to contact myself to discuss
        any potential future opportunities, then please view my
        <span
          ><a href="/Iain Brookes CV v4.pdf" target="_blank"
            ><strong>CV online</strong></a
          ></span
        >.
      </p>
      <h4>Portfolio.</h4>
      <p>
        To view more of my work, please head to my
        <span
          ><a href="https://portfolio.iain.biz/" target="_blank"
            ><strong>online portfolio</strong></a
          ></span
        >, or my
        <span
          ><a href="https://github.com/iainbrux" target="_blank"
            ><strong>GitHub</strong></a
          ></span
        >, or feel free to contact me directly by heading to my CV above. I'll
        happily discuss and walk through personal projects I'm working through
        right now.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
